
body .hs-button,
body input[type="submit"],
body input[type="button"] {
  width: auto;
  background:#58c3b2;
  text-transform:uppercase;
  font-family:proxima-nova,sans-serif;
  font-style:normal;
  font-weight:600;
  color:#fff;
  -webkit-transition:all .2s;
  letter-spacing:-.5px;
  padding:13px 29px;
  font-size:18px;
  line-height:1.5em;
  text-align:center;
  border: 0px solid transparent;
  border-radius:4px;
  -webkit-appearance:none!important
}
body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
  background:#f99e1b
}
span.hs-form-required {
  visibility: hidden!important;
  display: none;
}
.hs-form input[type="tel"]{
  height:55px;
  width: 100%;
  margin:0 auto 5px;
  background-color:#fff;
  font-family:proxima-nova,sans-serif;
  font-style:normal;
  letter-spacing:-.5px;
  vertical-align:middle;
  color:#262f2c;
  border:1px solid #d2d2d2;
  font-weight:400;
  font-size:15px;
  line-height:1.5em;
  text-align:left;
  padding:8px 15px;
  box-sizing:border-box;
  -webkit-appearance:none;
}
.form-padding {
  padding-left:15%;
  padding-right:15%;
}
.hbspt-form input[type="email"],
.hbspt-form input[type="text"] {
  height:55px;
  width: 100%;
  margin:0 auto 5px;
  border-radius:2px;
  border:1px solid #d2d2d2;
  background-color:#fff;
  font-family:proxima-nova,sans-serif;
  letter-spacing:-.5px;
  font-style:normal;
  color:#262f2c;
  font-weight:400;
  font-size:15px;
  line-height:1.375em;
  text-align:left;
  padding:8px 15px;
  box-sizing:border-box;
  -webkit-appearance:none;
}
.hs-form fieldset.form-columns-2 .hs-form-field {
    width: 50%;
    float: left;
    padding: 0px 3px;
}
.hs-error-msgs {
  margin:1% 0 2%;
  font-family:proxima-nova,sans-serif;
  font-style:normal;
  font-weight:400;
  list-style:none;
  color:#bd1111;
  font-size:15px;
  padding:0
}
.hs-input:-moz-placeholder,
.hs-input::-webkit-input-placeholder {
  color:#bfbfbf;
}
@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
.hs-form fieldset.form-columns-2 .hs-form-field {
    float: none;
    width: 100% !important;
}
}
@media screen and (max-width: 1024px) {
  body .hs-button,
  body input[type="submit"], 
  body input[type="button"] { 
    width:100% !important;
    background:#58c3b2;
    text-transform:uppercase;
    font-family:proxima-nova,sans-serif;
    font-style:normal;
    font-weight:600;
    color:#fff;
    -webkit-transition:all .2s;
    padding:13px 29px;
    letter-spacing:-.5px;
    font-size:18px;
    line-height:1.5em;
    margin:0;
    text-align:center;
    border:1px solid transparent;
    border-radius:4px;
    -webkit-appearance:none!important;
  }
  .hbspt-form input[type="email"],
  .hbspt-form input[type="text"] {
    height:55px;
    width:100%;
    margin:0 auto 5px;
    border-radius:2px;
    border:1px solid #d2d2d2;
    background-color:#fff;
    font-family: proxima-nova, sans-serif;
    letter-spacing:-.5px;
    font-style:normal;
    vertical-align:middle;
    color:#262f2c;
    font-size:15px;
    line-height:1.5em;
    text-align:left;
    padding:8px 15px;
    box-sizing:border-box;
    -webkit-appearance:none;
  }
}